.search-form {
  margin: 10px;
  ...;
}

.search-form-input {
  ...;
}

.search-form-btn {
  ...;
}

.search-form-img {
  ...;
}

.search-form.search-form-x1 {
  margin: 0px;
}

.search-form.search-form-x1.search-form-x2 {
  margin: 4px;
}
